<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BizStream Clone</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BizStreamWebsiteClone.styles.css" asp-append-version="true" />
</head>
@* <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">BizStreamWebsiteClone</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - BizStreamWebsiteClone - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body> *@
<body>
    <header>
        <nav class="w-screen relative bg-[#003D78] h-28 flex items-center justify-between text-medium">
            <div class="w-screen h-20 absolute top-0 bg-gradient-to-b to-black"></div>

            <div class="w-full flex flex-row justify-between items-center px-10 text-white font-semibold">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://www.bizstream.com/wp-content/uploads/2022/04/BizStream-Logo-rev.svg" alt="BizStreamAIAssistantLogo" class="h-10" />
                </a>
                <ul class="flex flex-row items-center gap-6">
                    @{
                        var navItems = new[]
                        {
                            new { Title = "Projects", Controller="Home", Action = "Index", Collapsable = false },
                            new { Title = "Services", Controller="Home", Action = "Privacy", Collapsable = true },
                            new { Title = "Technology", Controller="Home", Action = "Index", Collapsable = true },
                            new { Title = "About", Controller="Home", Action = "Privacy", Collapsable = true },
                            new { Title = "Careers", Controller="Home", Action = "Index", Collapsable = true },
                            new { Title = "Blog", Controller="Home", Action = "Privacy", Collapsable = false },
                        };
                    
                        @foreach (var item in navItems)
                        {
                            <li class="ml-4">
                                <a class="" asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">@item.Title.ToUpper()</a>
                            </li>

                            if (item.Collapsable)
                            {
                                <span class="w-2 fill-white">
                                    @* <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="white" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                    </svg> *@
                                    <svg class="e-font-icon-svg e-fas-caret-down" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>

                                </span>
                            }
                        }
                        <li class="ml-4">
                            <a class="" asp-area="" asp-controller="" asp-action="">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="white" class="w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                </svg>
                            </a>
                            
                        </li>
                    }  
                </ul>
                <button class="border-2 rounded-full  border-[#00C4E9]  text-white px-6 py-1 hover:border-white">
                    <a asp-area="" asp-controller="Home" asp-action="Index">CONTACT</a>
                </button>
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="overflow-hidden relative z-0 w-screen">
            @RenderBody()
            
            @* <iframe src="http://localhost:5034/" alt="laptop" class="absolute bottom-0 right-0 z-10 w-full h-full" /> *@

        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
